body {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	background-color: #c0c0c0;
	background-color: #FFFFFF;
	}
#headerContainer {
	margin-right: auto;
	margin-left: auto;
	width: 1020px;
	height: 85px;
	margin:0px auto;
	text-align:center;
	color: white;
	}
#header {
	margin-right: auto;
	margin-left: auto;
	background-color: #332200;
	height: 65px;
}
#bar {
	margin-right: auto;
	margin-left: auto;
	background-color: #FF8800;
	height: 3px;
}
#container{
	background-color:#eee;
	width: 90%;
	text-align: center;
	border:1px solid black;
	margin: 5px 5px 5px 5px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
#leftContainer{
	background-color:#eee;
	float: left;
	width: 49%;
	border:1px solid black;
	margin: 5px 5px 5px 5px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
#rightContainer{
	background-color:#eee;
	float: right;
	width: 49%;
	border:1px solid black;
	margin: 5px 5px 5px 5px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
#serverStatus{
	
	//border:1px solid pink;
}
#networkStatus{
	//background-color:#eee;
	//border:1px solid orange;
}

#quickStatus{
	//background-color:#eee;
	//width: 45%;
	//border:1px solid blue;
}
#bandwidthGraphs{
	clear: both;
	width: 100%;
	margin-left:auto;
	margin-right:auto;
	//border:1px solid red;
}
table{
	text-align:left;
	margin-left:auto;
	margin-right:auto;
	empty-cells: show;
}
table td {
	padding:2px 10px 2px;
}
h1{
	font-size:225%;
	font-family:"Times New Roman",Georgia,Serif;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
h2{
	font-size:110%;
	font-family:"Times New Roman",Georgia,Serif;
}
h3{
	font-size:175%;
	font-family:"Times New Roman",Georgia,Serif;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#online{
	background-color: green;
	border-style:solid;
	border-width:1px;
}
#offline{
	background-color: red; 
	border-style:solid;
	border-width:1px;
}
#faulty{
	background-color: orange; 
	border-style:solid;
	border-width:1px;
}
img {
	align: left;
}
a:link{
	text-decoration:none;
	color: black;
}
a:visited{
	text-decoration:none;
	color: black;
}
a:active{
	text-decoration:none;
	color: black;
}
a:hover{
	text-decoration:none;
	color: black;
}
